.boxReg {
  width: 40%;
  height: 540px;
  margin-left: 33%;
  padding-top: 20px;
  padding-right: 30px;
  border-radius: 2%;
  display: flex;
  justify-content: center;
}

.formReg {
  border-radius: 2%;
  border-radius: 2%;
  display: flex;
  align-items: center;
}

.order {
  margin-bottom: 5px;
}
